.feature-item {

    position: relative;
    padding-bottom : 2.5rem;

    @mixin atSmall {
        padding-left :  94px;

    }

    &__icon {
        display : block;
        margin : 0 auto 0.5rem auto;

        @mixin atSmall {
            position : absolute;
            left: 0;
        }
    }

    &__title {
        text-align : center;
        font-size : 1.875rem;
        font-weight : 300;
        margin-bottom : .8rem;

        @mixin atSmall {
            text-align : left;
        }
    }
}