.site-footer {
  background-color: $mainBlue;
  color: #fff;
  padding: 0.5rem 0;
  text-align: center;

  &__text {
    margin-right: 2rem;
    display: block;
    margin-bottom: 1.4rem;
    font-weight: 300;

    @mixin atMedium {
      display: inline;
    }
  }
}
